    body{
  font-family: arial, sans-serif;
  background: #a8f7f6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.search{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.search-form{
  border-radius: 20px;
  background-color: white;
  border: solid 1px gray;
  width: 50%;
}

.search-bar{
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 25px;
  width: 85%;
}

.clear-btn, .search-btn{
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-btn{
  border-left: solid 0.5px gray;
}

.btn-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(255,255,255,0.75);
  padding: 15px;
}

.btn{
  display: inline;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 150%;
  padding: 2%;
  text-align: center;
  transition: 0.35s;
}

.btn > a{
  display: inline;
  color: white;
  text-decoration: none;
}

.btn:hover{
  transform: scale(1.25);
}

.btn-blue{
  background: radial-gradient(#0075fa, #2fa2fa, #4ab1ff, #b3d6ff);
}

.btn-green{
  background: radial-gradient(#007a3d, #1fa463, #49c27f, #b7e8c9);
}

.btn-pink{
  background: radial-gradient(#c2185b, #e91e63, #f06292, #f8bbd0);
}
